[submodule "typings"]
	path = packages/typings
	url = https://github.com/CM20314-Group-2/typings.git
[submodule "server"]
	path = packages/server
	url = https://github.com/CM20314-Group-2/backend.git
