# JS
node_modules/
.expo/
.expo-shared/
package-lock.json
dist/
npm-debug.*
yarn-error.log
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
coverage/
packages/client/__generated__

# macOS
.DS_Store

# Environment Variables
**/.env
