# JS
node_modules/
.expo/
.expo-shared/
package-lock.json
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
coverage/
packages/client/__generated__
packages/build

# Yarn
yarn-error.log
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# macOS
.DS_Store

# Environment Variables
**/.env
